body {
    font-family: 'Roboto Mono', monospace;
    margin: 0 auto;
    max-width: 960px;
    letter-spacing: 0.1em;
    color: #333;
    font-size: 13px;
    line-height: 20px;
}

header {
    border-bottom: 1px solid #EEE;
    margin-bottom: 40px;
    height: 120px;
    letter-spacing: 0.15em;
    font-size: 16px;
}

header img {
    margin-top: 42px;
    margin-right: 20px;
}

aside {
    width: 30%;
    float: left;
}

aside img {
    width: 90px;
    float: left;
    margin-right: 10px;
}

article {
    float: left;
    width: 70%;
}

h1 {
    font-size: 20px;
    line-height: 20px;
}

h2 {
    font-size: 18px;
    line-height: 20px;
}

p {
    line-height: 20px;
}

a:link, a:visited {
    color: #9013FE;
}

li.pro {
    list-style-image: url('pro.png');
}

li.con {
    list-style-image: url('con.png');
}

li.pro, li.con {
}