@charset "UTF-8";
body {
  margin: 0 auto; }

ul {
  list-style: none;
  padding: 0; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.clear {
  clear: both; }

.center {
  margin-left: auto !important;
  margin-right: auto !important; }

.full-width {
  width: 100%; }

.padding-horizontal-s {
  padding-left: 10px;
  padding-right: 10px; }

.padding-horizontal-m {
  padding-left: 20px;
  padding-right: 20px; }

.margin-vertical-s {
  margin-top: 10px;
  margin-bottom: 10px; }

.margin-vertical-mt {
  margin-top: 20px;
  margin-bottom: 20px; }

.margin-vertical-l {
  margin-top: 30px;
  margin-bottom: 30px; }

.margin-vertical-xl {
  margin-top: 40px;
  margin-bottom: 40px; }

.margin-above-l {
  margin-top: 30px; }

.margin-above-xl {
  margin-top: 40px; }

.margin-above-xxl {
  margin-top: 50px; }

.margin-below-m {
  margin-bottom: 20px; }

.margin-below-l {
  margin-bottom: 30px; }

.padding-s {
  margin: 5px; }

.margin-side-xs {
  margin-left: 2px;
  margin-right: 2px; }

.desktop-constrain {
  max-width: 1200px; }

.grid {
  overflow: hidden;
  padding-bottom: 20px; }

.grid-heading {
  margin: 10px 0; }

.grid-item {
  float: left; }

.no-wrap {
  white-space: nowrap; }

@media (min-width: 376px) {
  .mobile-only {
    display: none; } }
@media (max-width: 376px) {
  .desktop-only {
    display: none; } }
header {
  border-bottom: 1px solid #EEE;
  margin-bottom: 40px;
  height: 120px;
  letter-spacing: 0.15em;
  font-size: 16px; }

header img {
  margin-top: 42px;
  margin-right: 20px; }

aside {
  display: border-box;
  width: 100%;
  max-width: 180px;
  float: left;
  overflow: hidden; }

article {
  max-width: 740px; }
  @media (min-width: 376px) {
    article {
      padding: 10px;
      margin-left: 180px; } }

body {
  font-family: "Roboto Mono", monospace;
  letter-spacing: 0.1em;
  font-size: 13px;
  line-height: 20px;
  color: #333; }

h1, h2, h3, h4 {
  line-height: 20px; }

h1 {
  font-size: 20px; }

h2 {
  font-size: 16px; }

p {
  line-height: 20px; }

a:link, a:visited {
  color: #9013FE; }

ul li {
  padding-left: 30px;
  line-height: 30px;
  background: url("li.png") left 5px/20px 20px no-repeat; }

li.pro {
  background-image: url("pro.png"); }

li.con {
  background-image: url("con.png"); }

/* icomoon */
@font-face {
  font-family: icomoon;
  src: url(/static/icomoon.eot);
  src: url(/static/icomoon.eot?4o0mka#iefix) format("embedded-opentype"), url(/static/icomoon.ttf?4o0mka) format("truetype"), url(/static/icomoon.woff?4o0mka) format("woff"), url(/static/icomoon.svg?4o0mka#icomoon) format("svg");
  font-weight: 400;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"] {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icomoon" !important;
  margin-right: 5px; }

.icon-instagram:before {
  content: ""; }

.icon-facebook:before {
  content: ""; }

.icon-twitter:before {
  content: ""; }

.icon-youtube:before {
  content: ""; }

.icon-slack:before {
  content: ""; }

.icon-reddit:before {
  content: ""; }

.coin img {
  background-color: white;
  border-radius: 100%;
  border: 3px solid white;
  display: block;
  width: 50px;
  height: 50px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px; }

.big-coin img {
  border-width: 10px;
  width: 150px;
  height: 150px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px; }

.tag {
  display: inline-block;
  background-color: #00FF90;
  padding: 2px 10px;
  border-radius: 4px; }

a.tag:link, a.tag:visited {
  color: black;
  text-decoration: none; }

/*# sourceMappingURL=style.css.map */
