$sidebar-width: 180px

header
    border-bottom: 1px solid #EEE
    margin-bottom: 40px
    height: 120px
    letter-spacing: 0.15em
    font-size: 16px

header img
    margin-top: 42px
    margin-right: 20px

aside
    display: border-box
    width: 100%
    max-width: $sidebar-width
    float: left
    overflow: hidden

article
    max-width: 740px
    @media (min-width: $mobile-width)
        padding: $base
        margin-left: $sidebar-width
